@using Microsoft.AspNetCore.Http

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FoodOrderSystem</title>

    <link rel="stylesheet"
          href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet"
          href="~/css/site.css"
          asp-append-version="true" />

    <link rel="stylesheet"
          href="~/FoodOrderSystem.styles.css"
          asp-append-version="true" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet" />

</head>

<body>

    <!-- Navbar -->

    <header>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">

            <div class="container">

                <a class="navbar-brand fw-bold"
                   asp-controller="Home"
                   asp-action="Index">

                    FoodOrderSystem

                </a>

                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarNav">

                    <span class="navbar-toggler-icon"></span>

                </button>

                <div class="collapse navbar-collapse"
                     id="navbarNav">

                    <ul class="navbar-nav ms-auto">


                       




                        <!-- Home -->

                        <li class="nav-item">

                            <a class="nav-link"
                               asp-controller="Home"
                               asp-action="Index">

                                Home

                            </a>

                        </li>

                        <!--User-->
                        <!-- Customer -->
                        <!-- User Menu -->
                        @if (User.Identity.IsAuthenticated &&
                                                User.IsInRole("User"))
                        {
                            <li class="nav-item">
                                <a class="nav-link"
                                   asp-controller="Order"
                                   asp-action="MyOrders">
                                    My Orders
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link"
                                   asp-controller="Cart"
                                   asp-action="Index">
                                    Cart (@Context.Session.GetInt32("CartCount"))
                                </a>
                            </li>
                        }
                        
                        <!-- Admin -->
                        @if (User.Identity.IsAuthenticated &&
                                                User.IsInRole("Admin"))
                        {
                            <li class="nav-item">

                                <a class="nav-link"
                                   asp-controller="FoodItems"
                                   asp-action="Index">

                                    Manage Foods

                                </a>

                            </li>


                            <li class="nav-item">
                                <a class="nav-link"
                                   asp-controller="Order"
                                   asp-action="Index">
                                    Manage Orders
                                </a>
                            </li>

                            <li class="nav-item">

                                <a class="nav-link"
                                   asp-controller="ApplicationUser"
                                   asp-action="Index">

                                    Users

                                </a>

                            </li>
                        }

                        <!-- ACCOUNT -->
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item dropdown">

                                <a class="nav-link dropdown-toggle"
                                   href="#"
                                   role="button"
                                   data-bs-toggle="dropdown">

                                    Hello @User.Identity.Name

                                </a>

                                <ul class="dropdown-menu">

                                    <li>

                                        <form asp-area="Identity"
                                              asp-page="/Account/Logout"
                                              method="post">

                                            @Html.AntiForgeryToken()

                                            <button type="submit"
                                                    class="dropdown-item">

                                                Logout

                                            </button>

                                        </form>

                                    </li>

                                </ul>

                            </li>
                        }
                        else
                        {
                            <li class="nav-item dropdown">

                                <a class="nav-link dropdown-toggle"
                                   href="#"
                                   role="button"
                                   data-bs-toggle="dropdown">

                                    Account

                                </a>

                                <ul class="dropdown-menu">

                                    <li>

                                        <a class="dropdown-item"
                                           asp-area="Identity"
                                           asp-page="/Account/Login">

                                            Login

                                        </a>

                                    </li>

                                    <li>

                                        <a class="dropdown-item"
                                           asp-area="Identity"
                                           asp-page="/Account/Register">

                                            Register

                                        </a>

                                    </li>

                                </ul>

                            </li>
                        }
                    </ul>

                </div>

            </div>

        </nav>

    </header>

    <!-- Main Body -->

    <div class="container mt-4">

        <main role="main" class="pb-3">

            @RenderBody()

        </main>

    </div>

    <!-- Footer -->

    <footer class="bg-dark text-white text-center p-4 mt-5">

        <h5>Online Food Ordering System</h5>

        <p>
            Delicious Food Delivered Fast 🍕
        </p>

        <p>
            © 2026 All Rights Reserved
        </p>

    </footer>

    <!-- Scripts -->



    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/js/site.js"
            asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>